button:hover {
  background-color: #737373;
  transition: 3s;
}

.header {
  display: flex;
}
td {
  border-radius: 10px;
}
.btn {
  margin: 13px;
  border-radius: 22px;
  background-color: white;
  font-size: 17px;
  cursor: pointer;
  margin: 12px auto;
  padding: 0px 0px 0px 0px; /* вниз  лево вверх направо*/
}
.header__sort {
  display: flex;
}
._container {
  max-width: 1200px;
  width: 50%;
}
@media (max-width: 1045px) {
  /* чтобы не ломались кнопки сортировки все */
  ._container {
    width: auto;
  }
}
.sort p {
  margin: 5px;
}
.list {
}

.sort {
  padding: 20px;
}
p {
  display: inline;
  padding: 10px 15px;
  font-size: 12px;
}
.sort {
  margin: 0 auto;
}
.list {
  margin: 0 auto;
}

.header__list {
  display: flex;
  margin: 12px 0 12px;
}
.button {
  display: flex;
}
main {
  width: 50%;
  background-color: #fff;
  padding-top: 20px;
  padding: 10px;
}

button {
  margin: 0;
}
li:hover,
li.active {
  cursor: pointer;
  color: red;
}
li {
  list-style-type: none; /* Убираем маркеры */
  display: inline;
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 10px;
}

.list li {
  margin: 25px;
}

.sort p:hover {
  cursor: pointer;
  color: blueviolet;
}

.sort p {
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  border: 1px solid;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 15px solid #f2f6f8;
  border-radius: 25px;
  font-size: 17px;
  border-collapse: collapse;
  background: white; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.table th {
  padding: 5px;
  background: #f2f8f8;
}
.table td {
  padding: 5px;
  border-top: 5px solid;
  border: 1px solid;
}
